snippet lorem
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id nunc sodales, eleifend eros eu, varius ex. Cras volutpat euismod lectus sed porta. Aliquam iaculis dignissim risus ac varius. Phasellus porta elit vitae enim ultrices, sed aliquam eros rutrum. Pellentesque lectus ex, aliquam vel maximus vel, semper nec tellus. Nunc tellus ex, congue ut convallis sed, ultricies sit amet lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris et cursus enim. Nam fermentum interdum tortor, ut vestibulum leo pretium id. Suspendisse id mollis erat. Nullam aliquet ut magna ut finibus. Nulla lectus tellus, tempor eget tortor at, ullamcorper lacinia orci. Vestibulum vel pulvinar quam, at cursus magna. Duis non semper lacus, sed consectetur sem.

	Maecenas pulvinar, tortor a finibus tempus, mauris turpis aliquam sem, ac elementum neque leo quis nisi. Aenean sed efficitur nulla. Praesent nulla enim, sagittis eget accumsan id, malesuada id tortor. Cras semper tellus eget massa congue, non gravida quam maximus. Vivamus laoreet, tellus ac elementum fringilla, erat mi vehicula tellus, vitae laoreet nisi velit eget justo. Quisque pulvinar sit amet velit id venenatis. Mauris tortor nisl, congue vitae aliquet sit amet, auctor eget tellus. Sed a risus purus. In ultrices lacus sem, vitae molestie libero feugiat eu. Sed ipsum felis, volutpat ut turpis id, malesuada semper lorem. Donec eros elit, pretium nec felis non, rhoncus elementum augue. Morbi in pellentesque nulla, in blandit ante. Nulla bibendum placerat felis, non blandit eros lacinia ac. Vestibulum ut eros vel ligula dapibus fringilla.
snippet ILSP
	Integrated Logistics Support Plan (ILSP)
snippet SPP
	Security Policies and Procedures (SPP)
snippet USP
	337th ACS Unit Security Plan (USP)
snippet SAH
	System Administrator's Handbook (SAH)
snippet SAH
	On-Site Support Team (OSST)
snippet EAL
	Entry Authority List (EAL)
snippet ti
	**Taylor In**
snippet USC
	44 USC §${1:3557}
