snippet re
	re='Chad is (.*)'
	if [[ 'Chad is good' =~ $re ]]; then
		echo ${BASH_REMATCH[1]}
	fi

snippet ansi_c_quote ANSI C Quote
	$'\n'

snippet if_glob Glob with ANSI C Quoting
	if [[ "$VALUE" == *$'\n'* ]]; then
	fi
