snippet SPP
	Security Policies and Procedures (SPP)
snippet USP
	337th ACS Unit Security Plan (USP)
snippet SAH
	System Administrator's Handbook (SAH)
snippet SAH
	On-Site Support Team (OSST)
snippet EAL
	Entry Authority List (EAL)
snippet ti
	**Taylor In**
