snippet fe FedEx Tracking YAML Block
	 - carrier: FedEx
	   tracking: "$1"
snippet ups UPS Tracking YAML Block
	 - carrier: UPS
	   tracking: "$1"
snippet usps USPS Tracking YAML Block
	 - carrier: USPS
	   tracking: "$1"
snippet spp Security Policy and Practices (SPP)
	*Security Policy and Practices* (SPP)
snippet conmon Information System Continuous Monitoring (ISCM)
	*Information System Continuous Monitoring* (ISCM) Plan
snippet item Purchase Request item
		- desc:
			mpn:
			qty: 1
			price: FIXME
snippet travel_expense
	- date:
		desc: Airfare (United)
		desc: Lodging (Booking.com)
		desc: Lyft to Airport
		desc: M&IE (First Day of Travel)
		desc: M&IE
		desc: M&IE (Last Day of Travel)
		desc: Fuel
		desc: Car Rental (National)
		desc: Lyft to Home
		cost: 409.40
