snippet fe FedEx Tracking YAML Block
	 - carrier: FedEx
	   tracking: "$1"
snippet u UPS Tracking YAML Block
	 - carrier: UPS
	   tracking: "$1"
snippet ps USPS Tracking YAML Block
	 - carrier: USPS
	   tracking: "$1"
