snippet joffery_mount_opt Mount joffrey:/opt
	mount -t nfs joffrey.local:/opt ~/working/joffrey/
snippet joffery_mount_storage Mount joffrey:/storage
	mount -t nfs joffrey.local:/storage ~/working/joffrey/
snippet joffery_unmount unmount jofffrey
	umount ~/working/joffrey/

