snippet ollama_start Start Ollama #ollama
	ollama serve
snippet ollama_run Choose model and run #ollama
	ollama run ${1:ollama_local_models()}
snippet ollama_list List models #ollama
	ollama list
snippet ollama_rm Remove model #ollama
	ollama rm ${1:ollama_local_models()}
snippet ollama_update Update all downloaded models #ollama
	ollama list | awk 'NR>1 && !/reviewer/ {system("ollama pull "$1)}'
