[user]
    name = Chad Skeeters
    email = chad.skeeters@gmail.com
[credential]
    helper = osxkeychain
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
