[user]
  name = Chad Skeeters
  email = chad.skeeters@gmail.com
[credential]
  helper = osxkeychain
[alias]
  st = status
  sta = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  ds = diff --staged
  gl = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%C(reset)%s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
  default = simple
[merge]
  tool = tabsplice
[mergetool "tabsplice"]
  cmd = tabsplice $BASE $LOCAL $REMOTE $MERGED
  trustExitCode = true
[mergetool]
  keepBackup = false
