/* Structure */
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700,700italic);

body {
  font-family:Libre Baskerville, Georgia, serif;
  line-height: 1.6875;
  background:#fdfcf7;
  background:#fcf9e8;
  margin:0 auto;
}

/* Typography */

h1.title {
  font-size: 2.4em;
  font-weight: 700;
  font-style: italic;
  line-height:1.2em;
  margin: 1em 0;
}

h1 {
}

p {
  font-size: 1em;
  margin: 1.68em 0;
}

.code {
  font-size:90%;
}
/* Media queries */

@media only screen and (min-width: 1100px) {
  body { 
    font-size:120%;
    max-width:900px; 
  }
}

@media only screen and (max-width: 1099px) {
  body {
   font-size: 110%;
    width:80%;
  }
}

@media only screen and (max-width: 850px) {
  body { 
    font-size:100%;
    width:90%;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size:85%;
  }
  .code {
    font-size:0%;
  }
}

.docinfo-name {
  text-align:right;
}
table.docinfo td {
  padding-left:10px;
}
