snippet alternatives_editor_install alternatives: Install/Add Editor
	sudo update-alternatives --install /usr/bin/editor editor /usr/bin/vi 100

snippet alternatives_editor_config alternatives: Config Editor
	sudo update-alternatives --config editor
