snippet caffeinate_display caffeinate: Prevent System Sleep (until ctrl+c, display can sleep)
	caffeinate -i

snippet caffeinate_display caffeinate: Prevent System Sleep (until ctrl+c or timeout, display can sleep)
	caffeinate -i -t $((8 * 3600))

snippet caffeinate_display caffeinate: Prevent System and Display Sleep  (until ctrl+c)
	caffeinate -d

snippet caffeinate_do caffeinate: Prevent System Sleep for Command
	caffeinate -i ${1:make}

snippet caffeinate_until caffeinate: Prevent System Sleep for PID
	caffeinate -w ${1:caffeinate_PID()}

snippet pmset pmset: Show Power Management
	pmset -g assertions
