snippet copyparty copyparty: Start copyparty file server for current folder.
	uv tool run copyparty
snippet copyparty_rm_hist copyparty: Remove all .hist folders
	find . -type d -name ".hist" --exec rm -r {} +
