snippet docker_exec docker: Start a process on a running container
	docker exec ${1:docker_containers()} ${2:/bin/bash}
snippet docker_cp docker: Copy files from docker container (no -r required)
	docker cp ${1:docker_containers()}:${1:PATH:/var/log/messages} .
