snippet dotnet_new_console dotnet: New console project (be in target dir)
	dotnet new console
snippet dotnet_run dotnet: Run
	dotnet run
snippet dotnet_run dotnet: Publish
	dotnet publish
snippet dotnet_add dotnet: Add Package
	dotnet add package ${1:YamlDotNet}
