snippet ehm_base ehm: Create Base Image
	ehm base

snippet ehm_create ehm: Create exhost
	ehm create ${1:HOSTNAME;exhost01}

snippet ehm_destroy ehm: destroy exhost (Removes Disk Image!!)
	ehm destroy ${1:HOSTNAME;exhost01}
