snippet find_grep find: Finds files by modified with in N days
	find . -mtime -${1:14}
snippet find_grep find: Finds files by name
	find . | grep -i ${1:bash}
snippet psaux ps: Finds process by name
	ps aux | grep -i ${1:bash}
snippet hello echo: Greeting Test
	echo "Hello ${1:Chad}"
	echo "Mr. ${2:Skeeters}"
