snippet goose_localhost goose: Run with Local Ollama
	OLLAMA_HOST=http://localhost:11434 goose session --provider ollama --model ${1:ollama_local_models()}

snippet goose_loaded_localhost goose: Run with Loaded Local Ollama
	OLLAMA_HOST=http://localhost:11434 GOOSE_CONTEXT_LIMIT=${2:ollama_context_limit(1)} GOOSE_INPUT_LIMIT=${2} goose session --provider ollama --model ${1:ollama_running_models()}
