snippet ollama_start ollama: Start Ollama
	ollama serve
snippet ollama_list ollama: List Models
	ollama list
snippet ollama_run ollama: Run Model
	ollama run ${1:ollama_local_models()}
snippet ollama_stop ollama: Stop Model
	ollama stop ${1:ollama_running_models()}
snippet ollama_ps ollama: Running Models
	ollama ps
snippet ollama_logs ollama: Show Server Logs
	tail -f /var/log/ollama/stderr
snippet ollama_rm ollama: Remove Model
	ollama rm ${1:ollama_local_models()}
snippet ollama_update ollama: Update Models
	ollama list | sed '1d' | awk '{print $1}' | xargs -I {} ollama pull {}

snippet oterm_run oterm: Open oterm TUI frontend
	oterm
