snippet timemachine_list_skip timemachine: List Skip Paths
	defaults read /Library/Preferences/com.apple.TimeMachine.plist SkipPaths
snippet timemachine_list_local_snapshots timemachine: List Local Snapshots
	tmutil listlocalsnapshots /
snippet timemachine_mount_local_snapshot timemachine: Mount Local Snapshot
	mkdir /tmp/snapshot && sudo mount_apfs -s ${1:tm_local_snapshot()} / /tmp/snapshot
snippet timemachine_restore timemachine: Restore File
	tmutil restore ${1:find_files("TM FILE" "" "/tmp/snapshot")} ${2:find_dir("RESTORE PATH")}
