snippet wttr_sa wttr: Weather in San Antonio
	curl v2.wttr.in/San+Antonio
snippet wttr_rr wttr: Weather in Round Rock
	curl v2.wttr.in/Round+Rock
snippet wttr_wa wttr: Weather in Seattle
	curl v2.wttr.in/Seattle
