snippet zip_list zip: List files
	unzip -l ${1:fd_files_shallow("ZIP FILE" zip$)}
snippet unzip zip: Uncompress (Restore)
	unzip ${1:fd_files_shallow("ZIP FILE" zip$)}
snippet zip_folder zip: Compress (Archive)
	zip -r ${2:cmd_basename(1)}.zip ${1:find_dir_shallow()}
